<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MaximumSubarray.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cpp绪论.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>二叉树.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>图.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>排序.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>查找.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>算法.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>线索二叉树.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9610006B1EE807A30026A30A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961000761EE80FE60026A30A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961000811EE965C50026A30A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>966795271EF79A780031DAE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96731AFD1F06277200A8339D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A0A3BC1EFCC617007B33E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2B9F81EC2E88600AE0312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2BA061EC2E8C300AE0312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EB874F1EFCBC5600C6C3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
